external-secrets:
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      memory: 192Mi
  certController:
    resources:
      requests:
        cpu: 10m
        memory: 48Mi
      limits:
        memory: 128Mi
  webhook:
    resources:
      requests:
        cpu: 10m
        memory: 24Mi
      limits:
        memory: 96Mi
