app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/excalidraw/excalidraw
            tag: latest
          resources:
            requests:
              cpu: 5m
              memory: 32Mi
            limits:
              memory: 128Mi
  service:
    main:
      ports:
        http:
          port: 80
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: portkey-tunnel.themainfreak.com
        external-dns.alpha.kubernetes.io/cloudflare-proxied: 'true'
        # Homepage auto-discovery annotations
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Excalidraw"
        gethomepage.dev/description: "Virtual whiteboard"
        gethomepage.dev/group: "Utilities"
        gethomepage.dev/icon: "excalidraw.svg"
      hosts:
        - host: &host draw.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: excalidraw-tls-certificate
