cert-manager:
  installCRDs: true
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 128Mi
  cainjector:
    resources:
      requests:
        cpu: 10m
        memory: 48Mi
      limits:
        memory: 128Mi
  webhook:
    resources:
      requests:
        cpu: 10m
        memory: 48Mi
      limits:
        memory: 128Mi
  prometheus:
    enabled: true
    servicemonitor:
      enabled: false  # Disabled until monitoring-system is deployed
