loki-stack:
  loki:
    serviceMonitor:
      enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 256Mi
  promtail:
    resources:
      requests:
        cpu: 25m
        memory: 48Mi
      limits:
        memory: 128Mi
