app-template:
  defaultPodOptions:
    securityContext:
      fsGroup: 1000
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/jellyfin/jellyfin
            tag: 10.8.13
          resources:
            requests:
              cpu: 25m
              memory: 1Gi
              gpu.intel.com/i915: 1
            limits:
              memory: 4Gi
              gpu.intel.com/i915: 1
    transmission:
      containers:
        main:
            image:
              repository: lscr.io/linuxserver/transmission
              tag: 4.0.5
            resources:
              requests:
                cpu: 15m
                memory: 128Mi
              limits:
                memory: 512Mi
    prowlarr:
      containers:
        main:
            image:
              repository: lscr.io/linuxserver/prowlarr
              tag: 1.13.3
            resources:
              requests:
                cpu: 15m
                memory: 128Mi
              limits:
                memory: 512Mi
    radarr:
      containers:
        main:
            image:
              repository: lscr.io/linuxserver/radarr
              tag: 5.3.6
            resources:
              requests:
                cpu: 20m
                memory: 256Mi
              limits:
                memory: 768Mi
    sonarr:
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.2
          resources:
            requests:
              cpu: 20m
              memory: 256Mi
            limits:
              memory: 768Mi
    jellyseerr:
      containers:
        main:
          image:
            repository: docker.io/fallenbagel/jellyseerr
            tag: 2.7.3
          resources:
            requests:
              cpu: 15m
              memory: 128Mi
            limits:
              memory: 512Mi
    lidarr:
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/lidarr
            tag: 2.6.4.4402-ls14
          resources:
            requests:
              cpu: 15m
              memory: 256Mi
            limits:
              memory: 768Mi
      initContainers:
        steroids:
          image:
            repository: busybox
            tag: 1.33.1
          command:
            - /bin/sh
            - -c
            - |
              wget https://raw.githubusercontent.com/RandomNinjaAtk/arr-scripts/main/lidarr/scripts_init.bash -O /custom-cont-init.d/scripts_init.bash
    rdtclient:
      containers:
        main:
          image:
            repository: rogerfar/rdtclient
            tag: "2.0.119"
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              memory: 512Mi
  
  service:
    main:
      controller: main
      ports:
        http:
          port: 8096
          protocol: HTTP
    transmission:
      controller: transmission
      ports:
        http:
          port: 9091
          protocol: HTTP
    prowlarr:
      controller: prowlarr
      ports:
        http:
          port: 9696
          protocol: HTTP
    radarr:
      controller: radarr
      ports:
        http:
          port: 7878
          protocol: HTTP
    sonarr:
      controller: sonarr
      ports:
        http:
          port: 8989
          protocol: HTTP
    jellyseerr:
      controller: jellyseerr
      ports:
        http:
          port: 5055
          protocol: HTTP
    lidarr:
      controller: lidarr
      ports:
        http:
          port: 8686
          protocol: HTTP
    rdtclient:
      controller: rdtclient
      ports:
        http:
          port: 6500
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations for Jellyfin
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Jellyfin"
        gethomepage.dev/description: "Media system (movies, music, etc.)"
        gethomepage.dev/group: "Popular"
        gethomepage.dev/icon: "jellyfin.svg"
        gethomepage.dev/widget.type: "jellyfin"
        gethomepage.dev/widget.url: "https://jellyfin.themainfreak.com"
      hosts:
        - host: &jellyfinHost jellyfin.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: jellyfin-tls-certificate
          hosts:
            - *jellyfinHost
    transmission:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations for Transmission
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Transmission"
        gethomepage.dev/description: "Bittorrent client"
        gethomepage.dev/group: "Management"
        gethomepage.dev/icon: "transmission.svg"
        gethomepage.dev/widget.type: "transmission"
        gethomepage.dev/widget.url: "https://transmission.themainfreak.com"
      hosts:
        - host: &transmissionHost transmission.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: transmission
                port: http
      tls:
        - secretName: transmission-tls-certificate
          hosts:
            - *transmissionHost
    prowlarr:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations for Prowlarr
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Prowlarr"
        gethomepage.dev/description: "Indexer manager"
        gethomepage.dev/group: "Management"
        gethomepage.dev/icon: "prowlarr.svg"
        gethomepage.dev/widget.type: "prowlarr"
        gethomepage.dev/widget.url: "https://prowlarr.themainfreak.com"
      hosts:
        - host: &prowlarrHost prowlarr.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: prowlarr
                port: http
      tls:
        - secretName: prowlarr-tls-certificate
          hosts:
            - *prowlarrHost
    radarr:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations for Radarr
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Radarr"
        gethomepage.dev/description: "Movie manager"
        gethomepage.dev/group: "Management"
        gethomepage.dev/icon: "radarr.svg"
        gethomepage.dev/widget.type: "radarr"
        gethomepage.dev/widget.url: "https://radarr.themainfreak.com"
      hosts:
        - host: &radarrHost radarr.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: radarr
                port: http
      tls:
        - secretName: radarr-tls-certificate
          hosts:
            - *radarrHost
    sonarr:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations for Sonarr
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Sonarr"
        gethomepage.dev/description: "TV show manager"
        gethomepage.dev/group: "Management"
        gethomepage.dev/icon: "sonarr.svg"
        gethomepage.dev/widget.type: "sonarr"
        gethomepage.dev/widget.url: "https://sonarr.themainfreak.com"
      hosts:
        - host: &sonarrHost sonarr.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: sonarr
                port: http
      tls:
        - secretName: sonarr-tls-certificate
          hosts:
            - *sonarrHost
    jellyseerr:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations for Jellyseerr
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Jellyseerr"
        gethomepage.dev/description: "Request media"
        gethomepage.dev/group: "Popular"
        gethomepage.dev/icon: "jellyseerr.svg"
        gethomepage.dev/widget.type: "jellyseerr"
        gethomepage.dev/widget.url: "https://jellyseerr.themainfreak.com"
      hosts:
        - host: &jellyseerrHost jellyseerr.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyseerr
                port: http
      tls:
        - secretName: jellyseerr-tls-certificate
          hosts:
            - *jellyseerrHost
  persistence:
    prowlarr-torrentio-config:
      type: configMap
      name: prowlarr-torrentio-config
      advancedMounts:
        prowlarr:
          main:
            - path: /config/Definitions/Custom
    nfs-data:
      type: nfs
      server: 192.168.0.41
      path: /nfs/plex
      advancedMounts:
        main:
          main:
            - path: /config
              subPath: jellyfin/config
            - path: /media/movies
              subPath: movies
            - path: /media/shows
              subPath: shows
            - path: /media/music
              subPath: music
        transmission:
          main:
            - path: /config
              subPath: transmission/config
            - path: /downloads
              subPath: transmission/downloads
        prowlarr:
          main:
            - path: /config
              subPath: prowlarr/config
        radarr:
          main:
            - path: /config
              subPath: radarr/config
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /downloads/rdtclient/complete
              subPath: rdtclient/downloads/complete
            - path: /movies
              subPath: movies
        sonarr:
          main:
            - path: /config
              subPath: sonarr/config
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /downloads/rdtclient/complete
              subPath: rdtclient/downloads/complete
            - path: /shows
              subPath: shows
        jellyseerr:
          main:
            - path: /app/config
              subPath: jellyseerr/config
        lidarr:
          main:
            - path: /config
              subPath: lidarr/config
            - path: /music
              subPath: music
            - path: /downloads/complete
              subPath: transmission/downloads/complete
            - path: /downloads/rdtclient/complete
              subPath: rdtclient/downloads/complete
            - path: /custom-services.d
              subPath: lidarr/custom-services.d
            - path: /custom-cont-init.d
              subPath: steroids/custom-cont-init.d
          steroids:
            - path: /custom-cont-init.d
              subPath: steroids/custom-cont-init.d
        rdtclient:
          main:
            - path: /data/db
              subPath: rdtclient/db
            - path: /downloads/complete
              subPath: rdtclient/downloads/complete


