mariadb-operator:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 96Mi
  webhook:
    resources:
      requests:
        cpu: 10m
        memory: 24Mi
      limits:
        memory: 64Mi
  certController:
    resources:
      requests:
        cpu: 10m
        memory: 24Mi
      limits:
        memory: 64Mi
