app-template:
  controllers:
    main:
      type: statefulset
      containers:
        main:
          image:
            repository: docker.io/kanidm/server
            tag: 1.8.6
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 128Mi
          probes:
            startup:
              enabled: true
              custom: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
                timeoutSeconds: 1
                initialDelaySeconds: 20
                tcpSocket:
                  port: 443
            readiness:
              enabled: false
            liveness:
              enabled: false
      statefulset:
        volumeClaimTemplates:
          - name: data
            size: 1Gi
            globalMounts:
              - path: /data
            accessMode: "ReadWriteOnce"
  configMaps:
    config:
      enabled: true
      data:
        server.toml: |
          bindaddress = "[::]:443"
          ldapbindaddress = "[::]:636"
          # trust_x_forward_for = false
          db_path = "/data/kanidm.db"
          tls_chain = "/data/ca.crt"
          tls_key = "/data/tls.key"
          domain = "auth.themainfreak.com"
          origin = "https://auth.themainfreak.com"
  service:
    main:
      ports:
        http:
          enabled: false
        https:
          port: 443
          protocol: HTTPS
        ldap:
          port: 636
          protocol: TCP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        # Homepage auto-discovery annotations
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Kanidm"
        gethomepage.dev/description: "Identity management"
        gethomepage.dev/group: "Management"
        gethomepage.dev/icon: "https://auth.themainfreak.com/pkg/img/logo-square.svg"
      hosts:
        - host: &host auth.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: https
      tls:
        - hosts:
            - *host
          secretName: kanidm-tls-certificate
  persistence:
    config:
      enabled: true
      type: configMap
      name: kanidm-config
      globalMounts:
        - path: /data/server.toml
          subPath: server.toml
    tls:
      enabled: true
      type: secret
      name: kanidm-selfsigned-certificate
      globalMounts:
        - path: /data/tls.key
          subPath: tls.key
        - path: /data/ca.crt
          subPath: ca.crt
