app-template:
  defaultPodOptions:
  #   securityContext:
  #     runAsNonRoot: true
  #     runAsUser: 1000
  #     runAsGroup: 1000
  #     fsGroup: 1000
  #     fsGroupChangePolicy: OnRootMismatch
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false

  controllers:
      zigbee2mqtt:
        # initContainers:
        #   externalcontrollers:
        #     image:
        #       repository: alpine
        #       tag: latest
        #     command:
        #       - sh
        #       - -c
        #       - |
        #         mkdir -p /config/external_converters/ && cp -LR /tmp/* /config/external_converters/
        containers:
          main:
            image:
              repository: ghcr.io/koenkk/zigbee2mqtt
              tag: 2.5.1
            resources:
              requests:
                cpu: 15m
                memory: 128Mi
              limits:
                memory: 256Mi
            securityContext:
              privileged: true
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            env:
              ZIGBEE2MQTT_DATA: /config
          code:
            dependsOn: main
            image:
              # -- image repository
              repository: ghcr.io/coder/code-server
              # -- image tag
              # this example is not automatically updated, so be sure to use the latest image
              tag: 4.92.2
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - --port
              - "8081"
              - "/config"
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
            securityContext:
                allowPrivilegeEscalation: false
                # fixuid: open /var/run/fixuid.ran: read-only file system
                readOnlyRootFilesystem: false
  service:
      main:
        controller: zigbee2mqtt
        ports:
          http:
            port: 8080
      code:
        controller: zigbee2mqtt
        ports:
          http:
            port: 8081

  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host z2m.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: zigbee2mqtt-tls-certificate
    code:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host hass-z2m.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: code
                port: http
      tls:
        - hosts:
            - *host
          secretName: z2m-code-tls-certificate

  persistence:
      config:
        enabled: true
        existingClaim: zigbee2mqtt
        globalMounts:
          - path: /config
      # external-converter:
      #   type: configMap
      #   name: curtainbot
      #   advancedMounts:
      #     zigbee2mqtt:
      #       externalcontrollers:
      #         - path: /tmp
