app-template:
  defaultPodOptions:
  #   securityContext:
  #     runAsNonRoot: true
  #     runAsUser: 1000
  #     runAsGroup: 1000
  #     fsGroup: 1000
  #     fsGroupChangePolicy: OnRootMismatch
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false


  controllers:
    mosquitto:
      containers:
        main:
          image:
            repository: eclipse-mosquitto
            tag: 2.0.21
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 128Mi
          probes:
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
            liveness:
              enabled: true
            readiness:
              enabled: true
  service:
    main:
      controller: mosquitto
      ports:
        mqtt:
          port: 1883
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host mqtt.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: mqtt
      tls:
        - hosts:
            - *host
          secretName: mqtt-tls-certificate
  configMaps:
    config:
      suffix: config
      enabled: true
      data:
        mosquitto.conf: |
          listener 1883
          allow_anonymous true
          persistence true
          persistence_location /mosquitto/data
          connection_messages false
  persistence:
    config:
      enabled: true
      type: configMap
      name: mosquitto-config
      globalMounts:
        - path: /mosquitto/config/mosquitto.conf
          subPath: mosquitto.conf
    data:
      enabled: true
      existingClaim: mosquitto
      globalMounts:
        - path: /mosquitto/data


