csi-driver-nfs:
  externalSnapshotter:
    enabled: true
    name: snapshot-controller
    priorityClassName: system-cluster-critical
    deletionPolicy: Delete
    controller:
      replicas: 1
    resources:
      limits:
        memory: 300Mi
      requests:
        cpu: 10m
        memory: 20Mi
    # Create volume snapshot CRDs.
    customResourceDefinitions:
      enabled: true   #if set true, VolumeSnapshot, VolumeSnapshotContent and VolumeSnapshotClass CRDs will be created. Set it false, If they already exist in cluster.


  volumeSnapshotClass:
    create: true
    name: csi-nfs-snapclass
    deletionPolicy: Delete
    
  ## Reference to one or more secrets to be used when pulling images
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  imagePullSecrets: []
  # - name: "image-pull-secret"

  ## StorageClass resource example:
  storageClass:
    create: true
    name: nfs-csi
    annotations:
      storageclass.kubernetes.io/is-default-class: "false"
    parameters:
      server: "192.168.0.41"
      share: /nfs/k8s
      subDir:
      mountPermissions: "0"
    # csi.storage.k8s.io/provisioner-secret is only needed for providing mountOptions in DeleteVolume
      # csi.storage.k8s.io/provisioner-secret-name: "mount-options"
      # csi.storage.k8s.io/provisioner-secret-namespace: "default"
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    mountOptions:
      - vers=4.1
      - nconnect=8
      - hard
      - noatime
      - rw
