app-template:
  defaultPodOptions:
  #   securityContext:
  #     runAsNonRoot: true
  #     runAsUser: 1000
  #     runAsGroup: 1000
  #     fsGroup: 1000
  #     fsGroupChangePolicy: OnRootMismatch
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: false
  controllers:
    main:
      type: statefulset
      containers:
        main:
          image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.5@sha256:6be0843b06ad82233639e56f261b2377f78df140e3d16d2d08b2c29c8889b697
          env:
            TZ: Asia/Dubai
            HASS_HTTP_TRUSTED_PROXY_1: 10.0.1.0/8
            HASS_HTTP_TRUSTED_PROXY_2: 192.168.0.0/16
            HASS_HTTP_TRUSTED_PROXY_3: 10.43.0.0/8
            HOME_ASSISTANT__HACS_INSTALL: "true"


          envFrom:
            - secretRef:
                name: "{{ .Release.Name }}-secret"
          resources:
            requests:
              cpu: 50m
              memory: 512Mi
            limits:
              memory: 1Gi
          securityContext:
          #   allowPrivilegeEscalation: false
          #   readOnlyRootFilesystem: true
          #   capabilities: { drop: ["ALL"] }
              allowPrivilegeEscalation: false
              # s6-rmrf: fatal: unable to remove /run/s6: Read-only file system
              readOnlyRootFilesystem: false
              # Needs chown
              #capabilities: { drop: ["ALL"] }
        code:
          dependsOn: main
          image:
            # -- image repository
            repository: ghcr.io/coder/code-server
            # -- image tag
            # this example is not automatically updated, so be sure to use the latest image
            tag: 4.108.2
          args:
            - --auth
            - "none"
            - --user-data-dir
            - "/config/.vscode"
            - --extensions-dir
            - "/config/.vscode"
            - --port
            - "8081"
            - "/config"
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              memory: 512Mi
          securityContext:
              allowPrivilegeEscalation: false
              # fixuid: open /var/run/fixuid.ran: read-only file system
              readOnlyRootFilesystem: false
              # Needs chown
              #capabilities: { drop: ["ALL"] }
  service:
    main:
      type: ClusterIP
      controller: main
      ports:
        http:
          port: 8123
          protocol: HTTP
    code:
      type: ClusterIP
      controller: main
      ports:
        http:
          port: 8081
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host hass.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: homeassistant-tls-certificate
    code:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host hass-code.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: code
                port: http
      tls:
        - hosts:
            - *host
          secretName: homeassistant-code-tls-certificate

  persistence:
    config:
      existingClaim: homeassistant
      globalMounts:
        - path: /config
    config-cache:
      accessMode: ReadWriteOnce
      enabled: true
      type: persistentVolumeClaim
      size: 1Gi
      globalMounts:
        - path: /config/.venv
    logs:
      type: emptyDir
      globalMounts:
        - path: /config/logs
    tts:
      type: emptyDir
      globalMounts:
        - path: /config/tts
    tmp:
      type: emptyDir
      globalMounts:
        - path: /tmp
    bluetooth:
      enabled: true
      type: hostPath
      hostPath: /run/dbus
    eink-dashboard:
      type: configMap
      name: homeassistant-eink-dashboard
      globalMounts:
        - path: /config/dashboards/eink-homescreen
          subPath: eink-homescreen
          readOnly: true
    eink-config:
      type: configMap
      name: homeassistant-eink-config
      globalMounts:
        - path: /config/packages/eink.yaml
          subPath: eink-configuration.yaml
          readOnly: true
    eink-theme:
      type: configMap
      name: homeassistant-eink-theme
      globalMounts:
        - path: /config/themes/eink-theme.yaml
          subPath: eink-theme.yaml
          readOnly: true
    eink-styles:
      type: configMap
      name: homeassistant-eink-styles
      globalMounts:
        - path: /config/www/eink-styles.css
          subPath: eink-styles.css
          readOnly: true

volsyncPVC:
  existingClaim: true