app-template:
  controllers:
    esphome:
      containers:
        app:
          image:
            repository: ghcr.io/esphome/esphome
            tag: 2026.1.4
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          resources:
            requests:
              cpu: 25m
              memory: 256Mi
            limits:
              memory: 1Gi
  service:
    app:
      controller: esphome
      ports:
        http:
          port: 6052
          protocol: HTTP
  ingress:
    app:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host esphome.themainfreak.com
          paths:
            - path: /
              service:
                identifier: app
                port: http
      tls:
        - hosts:
            - *host
          secretName: esphome-tls-certificate
  persistence:
    config:
      accessMode: ReadWriteOnce
      enabled: true
      type: persistentVolumeClaim
      size: 2Gi
      advancedMounts:
        esphome:
          app:
            - path: /config
    esphome-cache:
      type: emptyDir
      globalMounts:
        - path: /config/.esphome

