---
machine:
  network:
    interfaces:
      - interface: ens18
        addresses:
          - 192.168.0.12/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.0.1
        vip:
          ip: 192.168.0.100
