app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/actualbudget/actual-server
            tag: 25.5.0-alpine
  service:
    main:
      ports:
        http:
          port: 5006
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Homepage auto-discovery annotations
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Budget"
        gethomepage.dev/description: "Personal finance management"
        gethomepage.dev/group: "Utilities"
        gethomepage.dev/icon: "actualbudget.svg"
      hosts:
        - host: &host budget.themainfreak.com
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: actualbudget-tls-certificate
  persistence:
    data:
      accessMode: ReadWriteOnce
      size: 1Gi
      globalMounts:
        - path: /data
